# git ignore file
/*/bin
/*/obj
/jarvis/Server/entities/bin
/jarvis/Server/entities/obj
/jarvis/Server/model/bin
/jarvis/Server/model/obj
/jarvis/Server/services/bin
/jarvis/Server/services/obj
/jarvis/Server/repositories/bin
/jarvis/Server/repositories/obj
/jarvis/_ReSharper.jarvis
/jarvis/Tools/InitDatabase/obj
/jarvis/Tools/InitDatabase/bin
/jarvis/Client/Trigger/common/obj
/jarvis/Client/Trigger/common/bin
/jarvis/Client/Trigger/windows/obj
/jarvis/Client/Trigger/windows/bin
/jarvis/Common/domain/bin
/jarvis/Common/domain/obj
/jarvis/Common/dtos/bin
/jarvis/Common/dtos/obj
/jarvis/Server/configuration/bin
/jarvis/Server/configuration/obj
/jarvis/Server/webui/bin
/jarvis/Server/webui/obj
/jarvis/Server/web/obj
/jarvis/Server/web/bin
/jarvis/Client/EventHandler/EventHandler/bin
/jarvis/Client/EventHandler/EventHandler/obj
/jarvis/Server/common/obj
/jarvis/Server/common/bin
/jarvis/Server/web/log-file.txt
/jarvis/Client/Common/obj
/jarvis/Client/Common/bin
/jarvis/Client/Worker/worker/obj
/jarvis/Client/Worker/worker/bin
/jarvis/Client/Windows/windows/obj
/jarvis/Client/Windows/windows/bin
/jarvis/Client/Android/bin
/jarvis/Client/Android/gen
/jarvis/Client/.metadata
/jarvis/Common/logic/obj
/jarvis/Common/logic/bin
/jarvis/Addins/compiledClient/*
/jarvis/Addins/compiledServer/*

/jarvis/Addins/triggers/obj
/jarvis/Addins/triggers/bin
/jarvis/Addins/Implementations/General/GeneralTriggers/obj
/jarvis/Addins/Implementations/General/GeneralTriggers/bin
/jarvis/Client/client/obj
/jarvis/Client/client/bin
/jarvis/Addins/Implementations/General/GeneralActions/obj
/jarvis/Addins/Implementations/General/GeneralActions/bin
/jarvis/Addins/actions/obj
/jarvis/Addins/actions/bin
/jarvis/Addins/Implementations/General/GeneralServerActions/bin
/jarvis/Addins/Implementations/General/GeneralServerActions/obj
/jarvis/Addins/serverActions/obj
/jarvis/Addins/serverActions/bin
/jarvis/Addins/Implementations/Irc/IrcTrigger/obj
/jarvis/Addins/Implementations/Irc/IrcTrigger/bin
/jarvis/Deployment
/jarvis/Server/web/Addins